apiVersion: apps/v1
kind: Deployment

metadata:
  name: react-app
  namespace: {{ k8s_namespace }}

spec:
  replicas: 2

  selector:
    matchLabels:
      app: react

  template:
    metadata:
      labels:
        app: react

    spec:
      containers:
      - name: react
        image: {{ docker_user }}/{{ image_name }}:{{ image_tag }}
        imagePullPolicy: Always
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service

metadata:
  name: react-service
  namespace: {{ k8s_namespace }}

spec:
  selector:
    app: react

  type: NodePort

  ports:
  - protocol: TCP
    port: 80
    targetPort: 80
    nodePort: 30000
