apiVersion: apps/v1
kind: Deployment

metadata:
  name: {{ deployment_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: react
    environment: dev
    project: kube-lab
    team: devops
  
  annotations:
    deployed-by: Jenkins
    managed-by: Ansible
    project: Kubernetes-Lab
    owner: Devops_team
    Manager: Manoj
    contact-email: devops@abc.com

spec:
  replicas: {{ replicas }}

  selector:
    matchLabels:
      app: react

  template:
    metadata:
      labels:
        app: react
        environment: dev
        project: kube-lab
        team: devops

    spec:
      containers:
      - name: react
        image: {{ docker_user }}/{{ image_name }}:{{ image_tag }}
        imagePullPolicy: Always
 
        ports:
        - containerPort: 80
 
        resources:
          requests:
            cpu: "{{ cpu_request }}"
            memory: "{{ memory_request }}"

          limits:
            cpu: "{{ cpu_limit }}"
            memory: "{{ memory_limit }}"    

 
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 2
          successThreshold: 1
          failureThreshold: 3

        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 30
          periodSeconds: 10
          timeoutSeconds: 2
          failureThreshold: 3

---
apiVersion: v1
kind: Service

metadata:
  name: {{ service_name }}
  namespace: {{ k8s_namespace }}
  labels:
    app: react
    environment: dev
    project: kube-lab
    team: devops

spec:
  selector:
    app: react

  type: NodePort

  ports:
  - protocol: TCP
    port: {{ service_port }} 
    targetPort: {{ target_port }}
    nodePort: {{ node_port }}
